[user]
    name = Onur Yaman
	email = onuryaman@gmail.com
[core]
	editor = vim
	excludesfile = /Users/onur/.sensimevanidus/.gitignore_global
	autocrlf = input
[commit]
	template = /Users/onur/.sensimevanidus/.gitmessage
